body {
  user-select: none;
  background-color: #8d8d8d;
}
#drum-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#display {
  outline: 5px solid orange;
  position: relative;
  width: 660px;
  text-align: center;
  background-color: #b3b3b3;
}
.drum-pad {
  background-color: grey;
  margin-top: 10px;
  box-shadow: black 3px 3px 5px;

  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
}
.drum-box {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}

.songTitle {
  width: 100px;
  height: 50px;
  display: block;
  align-items: center;
  text-align: center;
  border: 1px solid black;
}
